@*@inject SignInManager<IdentityUser> _signInManager*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<environment include="Development">
            <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
            <script src="~/lib/jquery/jquery.js"></script>
            <script src="~/lib/jquery-validate/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        </environment>*@
    <title>@ViewBag.Title EFCoreMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="margin-top:100px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">EFCoreMvc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="div">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Create" asp-controller="Employee">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Employee">List Of Employees</a>
                        </li>
                    </ul>
                    @*@if (_signInManager.IsSignedIn(User))
                        {*@
                    @*<ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/RequestForm/Index">Request</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/RequestForm/Index">Processed Request</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item nav-link text-white">
                                <button class="nav-link btn py-0 btn-link text-white">
                                    @User.Identity.Name
                                </button>
                            </li>
                            <li class="nav-item nav-link">
                                <form method="post" asp-page="/RegisterUsers/Index" asp-page-handler="LogOut">
                                    <button class="nav-link btn py-0 btn-link text-white" type="submit">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>*@

                    @*}*@
                    <!--else
                    {-->
                    @*<ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a asp-page="/RegisterUsers/Index" class="nav-link text-white">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Login/Index" class="nav-link text-white">Login</a>
                            </li>
                        </ul>*@
                    <!--}-->


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EFCoreMvc - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

