@model Employee
@{ 
    ViewBag.Title = "Edit Employee";
}

<h2 class="text-info">
    Edit Employee
</h2>
<hr />

<form method="post" asp-controller="Employee" asp-action="Edit">
    <input hidden="hidden" asp-for="EmployeeId" />
    <div class="row form-group">
        <label class="col-form-label col-md-2" asp-for="Name"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name..." />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" asp-for="Email"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email..." />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" asp-for="Gender"></label>
        <div class="col-sm-10">
            <select class="custom-select" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                <option value="">Select gender</option>
            </select>
            <span class="text-danger" asp-validation-for="Gender"></span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" asp-for="Salary"></label>
        <div class="col-sm-10">
            <input asp-for="Salary" class="form-control" placeholder="Salary..." />
            <span class="text-danger" asp-validation-for="Salary"></span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" asp-for="Department"></label>
        <div class="col-sm-10">
            <select class="custom-select" asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()">
                <option value="">Select department</option>
            </select>
            <span class="text-danger" asp-validation-for="Department"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
            <button class="btn btn-outline-success" type="submit">Update</button>
            <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-secondary">Back</a>
        </div>
    </div>

</form>

